@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UniqloMVC.ViewModels.Slider
@{
    Layout = null;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Slider List</h6>
        <a asp-action="Create" asp-controller="Slider" class="btn btn-outline-primary ml-auto">Create</a>
    </div>
    <div class="card-body">
    </div>
</div>